* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  padding: 15px;
  /* width: 80vw; */
  text-align: center;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  /* width: 100vw; */
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.main__img {
  height: 20vh;
  margin: 30px 0;
}
@media all and (min-width: 768px) {
  .main__img {
    height: 60vh;
  }
}

.main__form {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .main__form {
    margin-left: 140px;
  }
}
